<div class="weather-desc-container">
  <h1 class="current-day-weather">Today's Weather</h1>
  <h2 class="weather"><%=Temp%>°C</h2>
  <p class="weather-desc">
    We expect <%=Desc%> today.
  </p>

</div>
