<%- include("partials/header")-%>
<div class="desc-container w-100 d-flex align-items-center justify-content-center pt-5">
    <p class="description w-75 text-center  fw-medium fs-5">
        Welcome to Today<span class="text-primary">'s</span> Weather, your ultimate companion for staying
        informed about the weather conditions in your area and around the world. With
        our user-friendly interface and comprehensive features, you can effortlessly
        plan your day, whether it's a sunny adventure or a cozy day indoors.
    </p>
</div>
<div class="weather-container">
    <%- include("partials/weather")-%>
</div>
<%- include("partials/footer")-%>
